@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}


header{
    position:fixed;
    margin: 0 0;
    width: 100%;
    padding: 20px  100px;
    background-color: rgba(128, 161, 168, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

img{
    width: 84px;
    height: 82px;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin-left: 27px;
    background-color: #D9D9D9;
    border-radius:  50%;
    border: 1px solid;
   padding: 10px;
   font-size: 15px;
   font-family: Gentium Plus;
   border-bottom:  drop shadow;
   box-shadow:  1px 2px 1px 1px rgba(0, 0, 0, 0.729)  ;
}

main{
    min-height: 100vh;
    background: url(img/background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 877px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
  position: absolute;
    left: auto;
    font-size: 48px;
    font-family: Inria Serif;
    color: rgb(0, 0, 0);
}
.bttn{
    transform: translateY(60px);
    left: auto;
    background-color: rgba(0, 0, 0, 0.378);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.bttn a{
    position: a;
    display: inline-block;
    font-size: 15px;
    font-family:Inria Serif ;
    letter-spacing: .1em;
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    z-index: 1; 
    overflow: hidden;
    transition: color 1s,box-shadow 1s;
}
  

footer{
    width: 100%;
    position: absolute;
    bottom:0;
    padding: 10px;
   
}
  
footer p, footer a{
      left: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
}


@media (max-width: 768px) {
    header {
        padding: 10px 15px; /* Ajuste de padding para telas menores */
    }

    .navbar a {
        margin-left: 10px; /* Menos espaço entre links */
        padding: 5px; /* Menos padding para economizar espaço */
        font-size: 12px; /* Tamanho de fonte menor para caber mais itens */
    }

    img{
        width: 34px;
        height: 32px;
    }
    
    h1 {
        font-size: 24px; /* Tamanho de fonte menor para melhor leitura */
    }

    .bttn a {
        padding: 5px 10px; /* Ajuste no padding dos botões */
        font-size: 12px; /* Tamanho de fonte menor */
    }
}

