@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1280px;
    margin: auto ;
}  

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4px;
    position: fixed;
    transition: .5s;
}

header.rolagem button{
    background-color: #fff;
    border-radius: 6% 0px 12px;
    color: #000;
    font-size: 1.2em;
}

header.rolagem a{
    color: #ffffff;
    font-style: bold;
}

header.rolagem{
    background: #b1c9ef;
    padding: 40px  4%;
}

header img{     
    width: 44px;
    height: 44px;
}

header ul {
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #0f0f0f;
    display:inline-block; 
    margin:0;
    text-transform:uppercase; 
    text-decoration: none;
    font-size:  1.5rem;
}

header ul li a:after{
    display:block;
    content: ' ';
    border-bottom: solid 3px #000000;  
    transform: scaleX(0);  
    transition:  250ms ease-in-out;
}

header ul li a:hover:after {
     transform: scaleX(1); 
    }

.btn-contact button{
    width: 120px;
    height: 40px;
    border-radius: 0 6px 0 12px;
    background-color: #4d4d4d;
    color:#fff ;
    cursor: pointer; 
    transition: .2s;
}

.btn-contact button:hover{
    transition: .8s;
    color: #bcb9b9;
    background-color: #000000;
font-size: 12px;
}

section {
    background:#8aaee0;
    padding: 50px 0;
    height: 100vh;
    text-align: center;
    padding-left: 115px;
    padding-right: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

h2 {
    color: #333;
    font-size: 2rem;
}

p{
    color: black;
    font-weight: bold;
    border-bottom:  black 0.2rem solid ;
}

.text h3 {
    margin-left: 15px;
    margin-top: 30px;
    color: #4d4d4d;
   flex-direction: row;
   text-align: start;
   line-height: 15.4px;
   font-size: 15px;
}
    

.sec img{
    margin-top: 10%;
    width: 595px;
    height: 538px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.carousel {
display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory;
-webkit-overflow-scrolling: touch;

}

.carousel img {
flex-wrap: wrap;
scroll-snap-align: start;
width: 50vh;
max-width: 300vh;
height: auto;
}


.footer{
    background: #628ECB;
}

.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 1em;
    background-color: #d5deef;
    margin: 10px;
    border-radius: 40%;
}

.socialicons a i{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    opacity: 0.9;
}

.socialicons a:hover{
    background-color: #a3b1cf;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: rgb(0, 0, 0);
    transition:0.5s;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-display: 1.3em;
    opacity: 0.7;
    transition:0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
    border-bottom: #ededed solid 1px;
}

.footerbottom{
    background-color: #395886;
    padding: 20px;
    text-align: center;
    margin: 0;
}

.footerbottom p{
    color: white;
    border: none;
}

/* responsividade*/
@media ( max-width: 700px){
    
        .footernav ul{
            flex-direction: column;
        }

        .footernav ul li{
            width: 100%;
            text-align: center;
            margin: 10px;
        }

        .footerbottom p{
           font-size: 15%;
           text-align: center;
        }
}
